@model EEDDMS.WebSite.Models.EquipmentDetailListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EquipmentModuleLayout.cshtml";
}
<h2>
    设备信息列表</h2>
<p>
    @Html.ActionLink("新建", "Create")
</p>
@using (Html.BeginForm("QueryEquipmentDetail", "EquipmentDetail"))
{

    @Html.ValidationSummary(true)
    <fieldset>
        <div class="editor-label">
            名称
        </div>
        <div class="editor-field">@Html.TextBox("name")@Html.ValidationMessage("name")
        </div>
        <div class="editor-label">
            型号
        </div>
        <div class="editor-field">@Html.TextBox("type")@Html.ValidationMessage("type")
        </div>
        <div class="editor-label">
            设计寿命
        </div>
        <div class="editor-field">@Html.TextBox("designLife")@Html.ValidationMessage("designLife")
        </div>
        <div class="editor-label">
            制造商
        </div>
        <div class="editor-field">@Html.TextBox("manufacturerName")@Html.ValidationMessage("manufacturerName")
        </div>
        <div class="editor-label">
            设备分类
        </div>
        <div class="editor-field">@Html.TextBox("equipmentClassName")@Html.ValidationMessage("equipmentClassName")
        </div>
        <input type="submit" value="查询" />
        <input type="reset" value="重置" />
    </fieldset> }
<table>
    <tr>
        <th>
            名称
        </th>
        <th>
            型号
        </th>
        <th>
            设计寿命
        </th>
        <th>
            制造商
        </th>
        <th>
            设备分类
        </th>
        <th>
            备注
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model.EquipmentDetails)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesignLife)
            </td>
            <td>
                @if (item.Manufacturer != null)
                {
                    @Html.DisplayFor(modelItem => item.Manufacturer.Name)
                }
            </td>
            <td>
                @if (item.EquipmentClass != null)
                {
                    @Html.DisplayFor(modelItem => item.EquipmentClass.Name)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memo)
            </td>
            <td>
                @Html.ActionLink("编辑", "Edit", new { id = item.Id }) |
                @Html.ActionLink("详情", "Details", new { id = item.Id }) |
                @Html.ActionLink("删除", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index",
new { page = x }))
</div>
